.homepage {
    display: flex;
    justify-content: center;
    letter-spacing: 0.09em;
}

.homeTitle {
    font-size: 80px;
    margin: 0.4em;
    margin-top: 1.6em;
}

mark.title {
    color: aliceblue;
    background: none;
    text-decoration: underline;
    text-decoration-color: aliceblue;
}

.typed-cursor {
    color: black
}

.homeTopics {
    color: navy;
    font-weight: bolder;
}

.homeIntro {
    font-size: 50px ;
    font-weight: lighter;
    margin: 0.4em;
}
.signIn {
    margin-right: 18px;
    font-size: 25px;
    font-weight: lighter;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.signIn:hover{
    cursor: pointer;
}

.signUp {
    margin-left: 18px;
    /* margin: 5px; */
    font-size: 25px;
    font-weight: lighter;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.signUp:hover{
    cursor: pointer;
}

.browseComm {
    padding-top: 10px;
    font-weight: normal;
}

.homepage h4 a {
    color: navy;
}