.showCommunityMain {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.showCommunityMainExist {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.commHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commIcon {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 13px;
}

.commsHeaderDesc {
    font-weight: 400;
}

.commTitle {
    font-weight: 600;
    width: 90%;
}

.commDesc {
    margin-bottom: 13px;
    padding-bottom: 10px;
    width: 90%;
    white-space: pre-line;
}

.postCard {
    width: 85%;
    height: fit-content;
    max-height: 1000px;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    box-shadow: 0px 5px 15px -4px;
    margin: 1rem;
}

.postCard:hover {
    transform: scale(1.01);
    box-shadow: 0px 5px 15px 0px;
    transition: max-height 0.3s ease-in;
}
    
.postTitle {
    text-align: left ;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5px;
    height: fit-content;
    display: flex;
    align-items: center;
    white-space: initial
    
}

.postTitle h2 {
    font-weight: bold;
    font-size: 22px;
    
}

.postDesc {
    text-align: left ;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
    white-space: pre-line;
    line-height: 150%;
    width: 100%;
}

.createdAt {
    text-align: left ;
    padding-left: 5%;
    padding-right: 5%;
}

.createdAt h5 {
    font-size: 13px;
    font-weight: normal;
}

.searchAndCreate {
    width: 70%;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.createPostBut {
    margin-left: 5px;
    width: fit-content;
}

.signDiscuss {
    margin-bottom: 20px;
}

.postCardTitle {
    font-weight: 500;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
}

.postCardDesc {
    font-weight: 400;
    font-size: 15px;
    overflow: hidden;
    width: 100%;
    display: flex;
}