.cardList {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-container {
    width: fit-content;
    max-height: 260px;
    transition: max-height 0.6s ease-out;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;

}

.card-container:hover {
    transform: scale(1.01);
    max-height: 1000px;
    box-shadow: 0px 0px 15px 0px;
    transition: max-height 0.6s ease-in;
}

.image-container img{
    overflow: hidden;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.cardContent {
    margin: 1rem;
    margin-top: 0.5rem;
}